a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Roboto, serif;
    margin: 0;
}

/* img {
    height: 100px;
    width: 100px;
} */

.topBanner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem 0 1rem;
    background-color: #1F2937;
    color: #e5e7eb;
}

.topLogo {
    height: 2rem;
    width: auto;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: #faf9fa;
    justify-content: center;
    align-items: center;
    padding: 5rem 1rem;
}

.links {
    display: flex;
    gap: 1rem;
}

.headerMain {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.headerImg {
    height: 15rem;
    width: auto;
}

.headerText p {
    padding-bottom: 0.5rem;
    color: #e5e7eb;
    font-size: 1rem;
    font-weight: 200;
}

.headerText h1 {
    margin-bottom: -1rem;
    color: #faf9fa;
    font-weight: 900;
    font-size: 2rem;
}

.headerSignUp {
    border-radius: 1rem;
    padding: 0.5rem 2rem;
    background-color: #3882f6;
}

.mainBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0;
}

.mainHolder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
    padding: 2rem 0;
}

.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.products img {
    height: 7rem;
    width: 7rem;
    object-fit: cover;
    border: 3px solid #3882f6;
    border-radius: 20%;
}

.quoteBody {
    background-color: #e5e7eb;
    align-items: center;
    justify-content: center;
    padding: 5rem;
}

.quote {
    font-style: italic;
    font-weight: 100;
    font-size: 1.5rem;
}

.quoteAuthor {
    font-weight: bold;
    font-size: 1rem;
    justify-self: right;
}

.action{   
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    background-color: #3882f6;
    border-radius: 1rem;
    margin: 5rem;
}

.actionBox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.signUpText h3{
    color: #faf9fa;
    font-weight: 700;
}

.signUpText p {
    color: #e5e7eb;
    font-weight: 200;
}

.signUpLink {
    border: 2px solid #faf9fa;
    border-radius: 0.5rem;
    color: #faf9fa;
    padding: 0.5rem 1rem;
    font-weight: 700;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    color: #e5e7eb;
    padding: 2rem 0;
    font-weight: 600;
    font-size: 1rem;
}